@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;

}

body {
    background-color: black;
    color: #f6f6f6;
    height: 100vh;
    box-sizing: border-box;
}

.titulo-destaque {
    color: #FFB200;
}

.titulo-destaque:hover{
    color: #00a2ff;
    transition: color 0.5s;
}

.presentation {
    display: flex;
    align-items: center;
    margin: 10% 15%;
    justify-content: space-between;
}

.presentation__content{
    width: 620px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__tittle{
    font-size: 38px;
    font-family: "Krona One", sans-serif;
}

.presentation__content__text{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentation__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    
}

.presentation__enlaces__subtitle{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;

}

.presentation__enlaces__link{
    width: 280px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 14px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #f6f6f6;
    border: 2px solid #FFB200;
    
}

.presentation__enlaces__link:hover{
    border: 2px solid #00a2ff;
    transition: border 0.5s;
    
}

.profile__photo{
    height: 500px;
    width: 520px;
    
}