@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #FFB200;
    --color-cuarto: #00a2ff;

    --fuente-montserrat: "Montserrat", sans-serif;
    --font-kronaone: "Krona One", sans-serif;
}


* {
    padding: 0;
    margin: 0;

}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
    
}
.header{
    padding: 3% 0% 0% 12%;
}

.header__Menu{
    display: flex;
    gap: 85px;
}

.header__Menu__Click{
    font-size: 24px;
    font-weight: 600;
    font-family: var(--fuente-montserrat);
    color: var(--color-secundario);
    text-decoration: none;
}

.header__Menu__Click:hover{
    color: var(--color-terciario);
    transition-duration: 0.5s;
}

.titulo-destaque {
    color: var(--color-terciario);
}

.titulo-destaque:hover{
    color: var(--color-cuarto);
    transition: color 0.5s;
}

.presentation {
    display: flex;
    align-items: center;
    padding: 5% 9% 6% 12%;
    justify-content: space-between;
}

.presentation__content{
    width: 620px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.presentation__content__tittle{
    font-size: 38px;
    font-family: var(--font-kronaone);
}

.presentation__content__text{
    font-size: 24px;
    font-family: var(--fuente-montserrat);
}

.presentation__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    
}

.presentation__enlaces__subtitle{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;

}

.presentation__enlaces__link{
    width: 370px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 5px;
}

.presentation__enlaces__link:hover{
    border: 2px solid var(--color-cuarto);
    transition: border 0.5s ;
    
}

.profile__photo{
    height: 680px;
    width: 690px;
}

.icon{
    width: 30px;
}



.downpage{
    background-color: var(--color-terciario);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--fuente-montserrat);
    text-align: center;
    padding: 15px;
}